body{
    background-color: aliceblue;
    padding:50px;
}
.div-edit {
    background-color: aqua;
    height:300px;
    padding-top: 20px;
    align-content: center;
    text-align: center;
    
}
 
 .button-edit{
     align-content: center;
   }

.ul-edit{
    background-color: rgb(222, 236, 248);
   
    color: rgb(16, 19, 19);
    text-align: left;
    

} 
.checkbox_edit:hover {
    color: blue;

}


    
